# READ CSV FOR RANDOM TESTS & ANALYSIS

For easy access to csv files to allow quick manipulating and testing of data

In [4]:
# Dependencies
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
import json
import csv

# Read csv file
restaurants_df = pd.read_csv("Resources/restaurant_data_coords_ratings.csv", encoding = "ISO-8859-1", 
                             names=["search_ID", "Latitude_search", "Longitude_search", "Name", "Lat_Restaurant", "Lng_Restaurant", "Address", "Zip", 
                                   "Rating", "# of Reviews", "Price Level", "Category", "Yelp ID"],
                             low_memory=False)

# Replace NaN entries with blank string
restaurants_df = restaurants_df.fillna('')
restaurants_df.head()

,search_ID,Latitude_search,Longitude_search,Name,Lat_Restaurant,Lng_Restaurant,Address,Zip,Rating,# of Reviews,Price Level,Category,Yelp ID
0,"38.871657, -123.017222",38.871657,-123.017222,101 Thai Way,38.7837,-123.011,1198 S Cloverdale Blvd,95425,4.5,198,$$,Thai,kzQg7SmFR4YR_cK2tWRjEQ
1,"38.871657, -123.017222",38.871657,-123.017222,Thai Spice,38.7844,-123.013,1123 S Cloverdale Blvd,95425,4.5,50,$$,Thai,PgwlPkDTeiVvG44Jn2DjQg
2,"38.871657, -123.017222",38.871657,-123.017222,Papa's Pizza Cafe,38.8053,-123.018,105 N Cloverdale Blvd,95425,4.5,85,$$,Pizza,bwp-KNxkgfQhsbaBYYvqdw
3,"38.871657, -123.017222",38.871657,-123.017222,KS Tian Yuen Restaurant,38.8004,-123.017,421 S Cloverdale Blvd,95425,4.0,119,$$,Chinese,GT3BntVo-Ves8ZywrmHTkg
4,"38.871657, -123.017222",38.871657,-123.017222,Trading Post,38.8051,-123.017,102 S Cloverdale Blvd,95425,4.0,128,$$,Bakeries,6o26tulocbwnkZx89EVHkA

In [7]:
group_df = restaurants_df.groupby("search_ID")
group_df["search_ID"].count()

search_ID
36.914427, -121.44266499999999              73
36.914427, -121.53528600000001              60
36.914427, -121.62790700000001              33
36.914427, -121.720528                     132
36.914427, -121.813149                     146
36.914427, -121.90576999999999             166
36.914427, -121.998391                     382
36.914427, -122.091012                     192
36.986917, -121.44266499999999               3
36.986917, -121.53528600000001             144
36.986917, -121.62790700000001             122
36.986917, -121.720528                     130
36.986917, -121.813149                     144
36.986917, -121.90576999999999             167
36.986917, -121.998391                     429
36.986917, -122.091012                     241
36.986917, -122.183633                       6
37.059407, -121.44266499999999               1
37.059407, -121.53528600000001             144
37.059407, -121.62790700000001             200
37.059407, -121.720528                      56
37.059407, -121.813149                       7
37.059407, -121.90576999999999             141
37.059407, -121.998391                     319
37.059407, -122.091012                     197
37.059407, -122.183633                      18
37.131896999999995, -121.53528600000001      4
37.131896999999995, -121.62790700000001    121
37.131896999999995, -121.720528            110
37.131896999999995, -121.813149             56
                                          ...
38.726677, -122.924601                      14
38.726677, -123.017222                      23
38.799167, -121.44266499999999              30
38.799167, -121.53528600000001               6
38.799167, -121.720528                       6
38.799167, -121.813149                       5
38.799167, -121.90576999999999               9
38.799167, -121.998391                       9
38.799167, -122.091012                      15
38.799167, -122.183633                      15
38.799167, -122.27625400000001               2
38.799167, -122.55411699999999              20
38.799167, -122.64673799999998              15
38.799167, -122.73935900000001               5
38.799167, -122.83198                        1
38.799167, -122.924601                       6
38.799167, -123.017222                      23
38.871657, -121.44266499999999               5
38.871657, -121.53528600000001               6
38.871657, -121.62790700000001               3
38.871657, -121.720528                       5
38.871657, -121.813149                       4
38.871657, -121.90576999999999               9
38.871657, -121.998391                       7
38.871657, -122.183633                       5
38.871657, -122.27625400000001               2
38.871657, -122.55411699999999              23
38.871657, -122.64673799999998              37
38.871657, -122.73935900000001               9
38.871657, -123.017222                      23
Name: search_ID, Length: 381, dtype: int64