# Yelp API Restaurant Calls By City

For each city listed in cities.csv, return all restaurants found via yelp api and
extract data regarding:

- name
- address & zip
- coordinates
- rating
- review count
- price level
- category
- yelp id


From above data, also determine the following for each city:

- total count of restaurants
- distribution of categories (eg. 10% Pizza, 20% Sushi, etc.)
- ratio of price level options (ie. total count of pricier levels divided by count of lower levels)
- total count of restaurants above a given rating
- concentration of restaurants (ie. total count divided by sq. mi of city)

In [131]:
# Dependencies
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
import json
import csv

# Import API key
from api_keys import api_key

### Perform API calls

- Dataframe from cities.csv
- Build function that calls and writes restaurant data to new csv, given a city
- Run list of cities through function

In [132]:
# Create dataframe from csv file
cities_df = pd.read_csv("cities.csv", names=["City", "County", "Population", "Area (sq. mi)"])
cities_df

                    City         County Population  Area (sq. mi)
0                Alameda        Alameda     73,812          10.61
1                 Albany        Alameda     18,539           1.79
2        American Canyon           Napa     19,454           4.84
3                Antioch   Contra Costa    102,372          28.35
4               Atherton      San Mateo      6,914           5.02
5                Belmont      San Mateo     25,835           4.62
6              Belvedere          Marin      2,068           0.52
7                Benicia         Solano     26,997          12.93
8               Berkeley        Alameda    112,580          10.47
9              Brentwood   Contra Costa     51,481          14.79
10              Brisbane      San Mateo      4,282           3.10
11            Burlingame      San Mateo     28,806           4.41
12             Calistoga           Napa      5,155           2.60
13              Campbell    Santa Clara     39,349           5.80
14               Clayton   Contra Costa     10,897           3.84
15            Cloverdale         Sonoma      8,618           2.65
16                 Colma      San Mateo      1,792           1.91
17               Concord   Contra Costa    122,067          30.55
18          Corte Madera          Marin      9,253           3.16
19                Cotati         Sonoma      7,265           1.88
20             Cupertino    Santa Clara     58,302          11.26
21             Daly City      San Mateo    101,123           7.66
22              Danville   Contra Costa     42,039          18.03
23                 Dixon         Solano     18,351           7.00
24                Dublin        Alameda     46,036          14.91
25        East Palo Alto      San Mateo     28,155           2.51
26            El Cerrito   Contra Costa     23,549           3.69
27            Emeryville        Alameda     10,080           1.25
28               Fairfax          Marin      7,441           2.20
29             Fairfield         Solano    105,321          37.39
..                   ...            ...        ...            ...
71          Rohnert Park         Sonoma     40,971           7.00
72                  Ross          Marin      2,415           1.56
73            St. Helena           Napa      5,814           4.99
74           San Anselmo          Marin     12,336           2.68
75             San Bruno      San Mateo     41,114           5.48
76            San Carlos      San Mateo     28,406           5.54
77         San Francisco  San Francisco    805,235          46.87
78              San Jose    Santa Clara    945,942         176.53
79           San Leandro        Alameda     84,950          13.34
80             San Mateo      San Mateo     97,207          12.13
81             San Pablo   Contra Costa     29,139           2.63
82            San Rafael          Marin     57,713          16.47
83             San Ramon   Contra Costa     72,148          18.06
84           Santa Clara    Santa Clara    116,468          18.41
85            Santa Rosa         Sonoma    167,815          41.29
86              Saratoga    Santa Clara     29,926          12.38
87             Sausalito          Marin      7,061           1.77
88            Sebastopol         Sonoma      7,379           1.85
89                Sonoma         Sonoma     10,648           2.74
90   South San Francisco      San Mateo     63,632           9.14
91           Suisun City         Solano     28,111           4.11
92             Sunnyvale    Santa Clara    140,081          21.99
93               Tiburon          Marin      8,962           4.43
94            Union City        Alameda     69,516          19.47
95             Vacaville         Solano     92,428          28.37
96               Vallejo         Solano    115,942          30.67
97          Walnut Creek   Contra Costa     64,173          19.76
98               Windsor         Sonoma     26,801           7.27
99              Woodside      San Mateo      5,287          11.73
100           Yountville           Napa      2,933           1.53

[101 rows x 4 columns]

In [146]:
# Function returns up to 1000 restaurant listings for input city
def get_restaurants(city, api_key):
    
    url = "https://api.yelp.com/v3/businesses/search"
    headers = {"Authorization": "Bearer %s" % api_key}
    restaurant_data = []
    count = 0
    
    # Increases search return limit
    for offset in range(0, 1000, 50):
        
        # Set parameters and pass into API calls
        params = {"term": "restaurants", "location":city + ", CA", "limit":50, "offset":offset}
        req = requests.get(url, params=params, headers=headers)
        
        # Breaks if error occurs with search
        if req.status_code == 400:
            break
        elif req.status_code == 200:
            
            # Convert to json
            response = req.json()
            
            # Log history
            count += 1
            print(f"Now processing query set {count} of approx 20 for {city}")
            
            # Breaks if no further entries in query
            if response["businesses"] == []:
                break
            
            else:
                # Iterate through business results and extract data
                for biz in response["businesses"]:
                    
                    # Logic to replace missing price level data with NaN
                    if "price" not in biz:
                        restaurant_data.append([city, biz["name"], biz["coordinates"]["latitude"], 
                                                biz["coordinates"]["longitude"], biz["location"]["address1"], 
                                                biz["location"]["zip_code"], biz["rating"], 
                                                biz["review_count"], "", biz["categories"][0]["title"], 
                                                biz["id"]])

                    # Replace missing category data with empty string
                    elif biz["categories"] == []:
                        restaurant_data.append([city, biz["name"], biz["coordinates"]["latitude"], 
                                                biz["coordinates"]["longitude"], biz["location"]["address1"], 
                                                biz["location"]["zip_code"], biz["rating"], 
                                                biz["review_count"], biz["price"], "", biz["id"]])

                    else:
                        restaurant_data.append([city, biz["name"], biz["coordinates"]["latitude"], 
                                                biz["coordinates"]["longitude"], biz["location"]["address1"], 
                                                biz["location"]["zip_code"], biz["rating"], 
                                                biz["review_count"], biz["price"], 
                                                biz["categories"][0]["title"], biz["id"]])

    # Write to csv
    with open('restaurant_data.csv', 'a', encoding="utf-8") as csvFile:
        writer = csv.writer(csvFile)
        writer.writerows(restaurant_data)
    csvFile.close()
    
    # Returns total count of restaurants in city
    return response["total"]

In [143]:
# Track # of cities processed
count = 0

# List to track total restaurants found in city
totals_count = []

print("LOG HISTORY OF API CALLS:")
print("---------------------------")

# Loop thru list of cities in cities_df
for city in cities_df["City"]:
    
    #  Call get_restaurants fn and append to total_count list
    totals_count.append(get_restaurants(city, api_key))
    
    # Print log history
    count += 1
    rem = len(cities_df["City"]) - count
    print("-----------------------------------------")
    if city == cities_df.iloc[-1,0]:
        print("Full list of cities processed!")
    elif city == cities_df.iloc[-2,0]:
        print("Now getting results for final city. Almost there!")
        print("-----------------------------------------")
    else:
        print(f"Data retrieval for {city} complete")
        print(f"Getting results for next city.. there are {rem} cities left")
        print("-----------------------------------------")

cities_df["Total # of restaurants"] = totals_count

LOG HISTORY OF API CALLS:
---------------------------
Now processing query set 1 of approx 20 for Benicia
Now processing query set 2 of approx 20 for Benicia
Now processing query set 3 of approx 20 for Benicia
Now processing query set 4 of approx 20 for Benicia
Now processing query set 5 of approx 20 for Benicia
Now processing query set 6 of approx 20 for Benicia
Now processing query set 7 of approx 20 for Benicia
Now processing query set 8 of approx 20 for Benicia
Now processing query set 9 of approx 20 for Benicia

356

In [128]:
# Show updated cities_df
cities_df.head()

         City   County Population  Area (sq. mi)  Total # of restaurants
0      Albany  Alameda     18,539           1.79                     227
1       Colma      NaN        NaN            NaN                     180
2  Yountville      NaN        NaN            NaN                      32

### Create Dataframe

- Read csv file
- Clean data

In [130]:
# Read csv file
restaurants_df = pd.read_csv("restaurant_data.csv", encoding = "ISO-8859-1", 
                            names=["City", "Name", "Lat", "Lng", "Address", "Zip", "Rating", "# of Reviews", 
                                   "Price Level", "Category", "Yelp ID"])

# Replace NaN entries with blank string
restaurants_df = restaurants_df.fillna('')
restaurants_df

,City,Name,Lat,Lng,Address,Zip,Rating,# of Reviews,Price Level,Category,Yelp ID
0,Zaytoon Mediterranean Restaurant & Bar,37.89052,-122.297730,1133 Solano Ave,94706,4.5,320.0,$$,Mediterranean,g15dMYbefEL-ylCgk0MBbw,
1,310 Eatery,37.89241,-122.299270,747 San Pablo Ave,94706,4.5,648.0,$$,Burgers,1ErPhzdCaoMVSHsXc9TOmQ,
2,Juanita & Maude,37.89099,-122.298800,825 San Pablo Ave,94706,4.5,162.0,$$$$,American (New),jzmCjMb4nJscElnEgtY-Pw,
3,Wojia Hunan Cuisine,37.88954,-122.298340,917 San Pablo Ave,94706,4.5,141.0,$$,Szechuan,shWuD8dJ5wbXppAzEybpgw,
4,Bowl'd Korean Rice Bar,37.8911161,-122.288295,1479 Solano Ave,94706,4,1087.0,$$,Korean,vD0mp-ZGHixwQrdzCcxuGw,
5,DaNang,37.89005,-122.298620,905 San Pablo Ave,94706,4.5,50.0,,Vietnamese,TyIzSjcr0z0jimwLeISMQg,
6,The Hot Shop,37.88998,-122.298590,909 San Pablo Ave,94706,4.5,330.0,$,Mexican,4llVHbcdMPfrZImiiF-D9w,
7,El Mono,37.905185576526,-122.304549,10264 San Pablo Ave,94530,4.5,1308.0,$$,Peruvian,Uq3u_kbGVGLjEDVU45WLog,
8,938 Crawfish,37.8889,-122.298860,938 San Pablo Ave,94706,4,474.0,$$,Seafood,u5-xaRYrBeeVa5VxMzOs2Q,
9,Oori Rice Triangles,37.8907327309419,-122.293740,1247 Solano Ave,94706,4,339.0,$,Japanese,UuC0xMHDZ3xKlbBKSvqSqQ,
10,Ramen Kitchen,37.89107,-122.287890,1491 Solano Ave,94706,4,123.0,$$,Ramen,p0Lb8jDvom4LsuqNzvAYVg,
11,Enoteca Mediterraneo,37.8909300066678,-122.290530,1389 Solano Ave,94706,4.5,47.0,$$,Mediterranean,smSB17tWe_xDw9TFQ3mdug,
12,Tacos El Autlense,37.8950005,-122.300102,601 San Pablo Ave,94706,4.5,379.0,$,Mexican,pfj2X3oGYi4Mx81ZDMg7HA,
13,Delhi Diner,37.89097,-122.290680,1373 Solano Ave,94706,4.5,668.0,$$,Indian,cMsCzq8NsRRl5Iei5HqUxg,
14,Everest Kitchen,37.8902243320071,-122.297437,1150 Solano Ave,94706,4.5,182.0,$$,Himalayan/Nepalese,SmdE8aRd4fQjqZ5n1ISvaw,
15,Little Star Pizza,37.8905772,-122.296829,1181 Solano Ave,94706,4,822.0,$$,Pizza,cjPsTUw0ZGoFBF1-LkkR9w,
16,New Dumpling,37.9018,-122.302720,10064 San Pablo Ave,94530,4.5,59.0,$$,Chinese,nzL-ngmLV_f63XID0ydkiA,
17,Aangan,37.89045,-122.299280,856 San Pablo Ave,94706,4,577.0,$$,Indian,IaLtMKJhPctTDN6AbQIZKg,
18,Vanessa's Bistro,37.891806,-122.282299,1715 Solano Ave,94707,4,446.0,$$,French,mfPNutKRhiaQXDrnz9_HRg,
19,Rendez-Vous Cafe Bistro,37.8904799,-122.298350,1111 Solano Ave,94706,3.5,367.0,$$,French,xvRUWEND7CM2N1SMD7907w,
20,Syma's Mexican Grill,37.885941,-122.297301,1019 San Pablo Ave,94706,4,9.0,,Mexican,rwInTRTt4lBePXf89uKRMQ,
21,Royal Cafe,37.8912963867188,-122.298904,811 San Pablo Ave,94706,4,467.0,$$,Breakfast & Brunch,1gDIY97sSN_48PQcR3EPeg,
22,Albany Taproom,37.8924440953638,-122.299353,745 San Pablo Ave,94706,4,196.0,$$,Burgers,L2mbYRwuI1x9oOiMRXHy8w,
23,Suzette Crepe Cafe,37.8904233539924,-122.294925,1226 Solano Ave,94706,4.5,208.0,$,French,8CUQ7mqoIjlWnZf6ycHmUQ,
24,Fonda,37.89116,-122.287300,1501 Solano Ave,94707,3.5,759.0,$$,Mexican,UTyIbp1OWOzclHVVFlScaA,
25,Pho Ao Sen,37.8937178,-122.299723,665 San Pablo Ave,94706,3.5,315.0,$$,Vietnamese,Dq47xG_JD9wXS_4W8K5rcw,
26,Al's Big Burger,37.8970756,-122.300934,437 San Pablo Ave,94706,4,303.0,$,Burgers,9tJYKNzQ1Rv2cc6AutlCEg,
27,Lao Thai Kitchen,37.89062,-122.289200,1406 Solano Ave,94706,4,250.0,$$,Thai,97QeyQyyusp266BSYJHKmw,
28,Cafe Raj,37.89021,-122.296820,1158 Solano Ave,94706,4,479.0,$,Indian,Un2RRt0FBMDBpFMPbuJTnA,
29,La Crema,37.89012,-122.298400,1106 Solano Ave,94706,4,159.0,$$,Mexican,mV7Xr7mhoE0XfhCbW6VA3w,
...,...,...,...,...,...,...,...,...,...,...,...
848,Yountville,Ad Hoc,38.399390,-122.35814,6476 Washington St,94599,4.0,2750,$$$,American (New),_TP4zFcfNjPHGO3t2M_tfQ
849,Yountville,Redd Wood,38.405834,-122.367111206055,6755 Washington St,94599,4.0,694,$$,Pizza,wtseOYmyIAq7pa8XqR3ASg
850,Yountville,RH Yountville Restaurant,38.405558,-122.366888,6725 Washington St,94599,4.5,72,$$$,American (New),QEa-uZTQ-dP8MAFgj35f6g
851,Yountville,The French Laundry,38.404420,-122.36476,6640 Washington St,94599,4.5,2486,$$$$,French,T20VEwi7AzKbY2TuVEt_ig
852,Yountville,R+D Kitchen,38.406420,-122.367595885983,6795 E Washington St,94599,4.0,1253,$$,American (New),x21BfokQhx_9YEdueUZoPg
853,Yountville,Bistro Jeanty,38.401030,-122.35979,6510 Washington St,94599,4.0,1878,$$$,French,UID3cppgvHd2trQXVKR4AQ
854,Yountville,Protéa Restaurant,38.400040,-122.35902,6488 Washington St,94599,4.5,255,$$,Latin American,Tx4XnajvvPErYSrV7NTExg
855,Yountville,Coqueta Napa Valley,38.401690,-122.36232,6525 Washington St,94599,4.5,12,,Tapas Bars,4XLSdW2ScvLQcH7yX644dg
856,Yountville,Ciccio,38.406700,-122.36683,6770 Washington St,94599,4.0,342,$$,Pizza,ErY8Ra2o4vOm1Yuun71VaQ
857,Yountville,Ottimo,38.401651,-122.362521,6525 Washington St,94599,4.0,94,$$,Italian,ITqXlPAlAENF8QV5vxXxBw
858,Yountville,La Calenda,38.402160,-122.3612,6518 Washington St,94599,3.5,123,$$,Mexican,aNZt_e-CgztZ-t2a4MAVaA
859,Yountville,Addendum,38.399528,-122.358516,6476 Washington St,94599,4.0,532,$$,American (New),St6j-3ZodHcQqDcp-BMZbg
860,Yountville,Bouchon Bakery,38.402446,-122.361858378799,6528 Washington St,94599,4.0,3027,$$,Bakeries,XtPcjdmZxIWYGQLMrb6TOA
861,Yountville,Mustards Grill,38.418954,-122.388218,7399 St Helena Hwy,94558,4.0,1961,$$$,American (New),NJNTadzLju3HJsHg1ZMcPw
862,Yountville,Lucy Restaurant and Bar,38.402735,-122.3611324,6528 Yount St,94599,4.0,305,$$$,American (New),Gzw4MoPWfauDHN6_0FdQOg
863,Yountville,Southside Cafe,38.406200,-122.36641,6752 Washington St,94599,4.5,80,$$,Coffee & Tea,0ocrLlGOUOo0J92SjgCgHQ
864,Yountville,Brix,38.416100,-122.38669,7377 St Helena Hwy,94558,4.0,1170,$$$,American (New),zwVBdPGNMitCkT1aqIhkLQ
865,Yountville,Heritage Oak,38.397454,-122.357174726332,6462 Washington St,94599,3.5,29,$$,American (New),E-oMOUlchGS8u6Zj7gHHAQ
866,Yountville,Yountville Deli,38.400770,-122.35941,6498 Washington St,94599,3.5,145,$,Delis,pvr1P85vMetO047L-xB-9w
867,Yountville,The Lakeside Grill,38.396912,-122.360221862793,7901 Solano Ave,94599,3.5,29,$$,Breakfast & Brunch,eptLp9yw3qpxX-gUVzG85g
868,Yountville,Napa Valley Crust,38.506296,-122.469455,1010 Adams St,94574,4.5,10,,Food Trucks,xg0QxzSY8P1H3GV2EWiK_g
869,Yountville,Phat Salads and Wraps,38.318649,-122.299942016602,,94558,4.0,48,$,Food Trucks,i6ZwMjYIbmFZ8EGYz6x5Bw
870,Yountville,Napa Valley Wine Train,38.302398,-122.283715,1275 McKinstry St,94559,4.0,1277,$$$$,American (New),4yKNDUi5AZXVCqXyo3PRxA
871,Yountville,Deep Smoke Napa,38.297131,-122.286437988281,,94581,4.5,3,,Food Trucks,7L-Z-W6gpPh05Klul88few
872,Yountville,Hereo's Cafe,38.393827,-122.365114729835,60 California Dr,94599,1.0,3,,Coffee & Tea,1QDpJ2SWBvlz72WufIq99g
873,Yountville,La cuchara de Doña Rosa,38.115436,-122.2541558,105 Couch St,94590,4.5,7,$$,Food Trucks,UgpER14Qy4CiwlxC5ZwsqA
874,Yountville,Tortas Gigantes Metro Balderas 2,38.429130,-122.73433,1289 Sebastopol Rd,95407,3.5,3,$,Food Trucks,3zRfkzhTk7jzXNC0cKdWRg
875,Yountville,Fiya Spice Caribbean,38.011279,-121.876098,,94565,5.0,1,,Food Trucks,RsgxKM4y5V_po23Iy3lTww
876,Yountville,Zintzuni Cocina Mexicana,38.581572,-121.4943996,,95828,4.5,38,,Mexican,f1qZQRX6bT5n0fs-mLcKzA
877,Yountville,808 Island Grill,38.736900,-121.267288208008,,95661,5.0,16,,Hawaiian,fLJLB8y-Bj9AEPVysp0JFQ

In [97]:
### Clean data, how to treat missing address, zip, price level, food trucks/mobile, low review counts

restaurants_df["Category"].value_counts()

Pizza                        19
Mexican                      17
Food Trucks                  15
Burgers                      13
Thai                         12
Chinese                      12
Japanese                     11
Indian                        9
Breakfast & Brunch            7
Vietnamese                    7
Coffee & Tea                  6
Bakeries                      5
American (New)                5
Sushi Bars                    5
Himalayan/Nepalese            5
Fast Food                     5
Sandwiches                    4
Szechuan                      4
Mediterranean                 4
Italian                       3
Brazilian                     3
French                        3
Cafes                         3
Hot Dogs                      3
Seafood                       3
Korean                        3
American (Traditional)        3
Vegan                         3
Latin American                2
Delis                         2
Soul Food                     2
Desserts                      2
Ice Cream & Frozen Yogurt     2
Ramen                         2
Tacos                         1
Bagels                        1
Noodles                       1
Cantonese                     1
Tea Rooms                     1
Tex-Mex                       1
Restaurants                   1
Breweries                     1
Food Stands                   1
Barbeque                      1
Meat Shops                    1
Organic Stores                1
Hong Kong Style Cafe          1
Peruvian                      1
Poke                          1
British                       1
Middle Eastern                1
Greek                         1
Burmese                       1
Chicken Wings                 1
Themed Cafes                  1
Hot Pot                       1
Salad                         1
Name: Category, dtype: int64