# Yelp API Restaurant Calls By City

For each city listed in cities.csv, return all restaurants found via yelp api and
extract data regarding:

- name
- address & zip
- coordinates
- rating
- review count
- price level
- category
- yelp id


From above data, also determine the following for each city:

- total count of restaurants
- distribution of categories (eg. 10% Pizza, 20% Sushi, etc.)
- ratio of price level options (ie. total count of pricier levels divided by count of lower levels)
- total count of restaurants above a given rating
- concentration of restaurants (ie. total count divided by sq. mi of city)

In [1]:
# Dependencies
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
import json
import csv

# Import API key
from api_keys import api_key

### Perform API calls

- Dataframe from cities.csv
- Build function that calls and writes restaurant data to new csv, given a city
- Run list of cities through function

In [5]:
# Create dataframe from csv file
cities_df = pd.read_csv("cities.csv", names=["City", "County", "Population", "Area (sq. mi)"])
cities_df

              City        County Population  Area (sq. mi)
0          Alameda       Alameda     73,812          10.61
1           Albany       Alameda     18,539           1.79
2  American Canyon          Napa     19,454           4.84
3          Antioch  Contra Costa    102,372          28.35
4         Atherton     San Mateo      6,914           5.02
5          Belmont     San Mateo     25,835           4.62
6        Belvedere         Marin      2,068           0.52

In [88]:
# Function returns up to 1000 restaurant listings for input city
def get_restaurants(city, api_key):
    
    url = "https://api.yelp.com/v3/businesses/search"
    headers = {"Authorization": "Bearer %s" % api_key}
    restaurant_data = []
    count = 0
    
    # Increases search return limit
    for offset in range(0, 1000, 50):
        
        # Set parameters and pass into API calls
        params = {"term": "restaurants", "location":city + ", CA", "limit":50, "offset":offset}
        req = requests.get(url, params=params, headers=headers)
        
        # Log history
        count += 1
        print(f"Processing query set {count} of approx 20 for {city}")
        
        # Breaks if error occurs with search
        if req.status_code == 400:
            break
        elif req.status_code == 200:
            
            # Convert to json
            response = req.json()
            
            # Breaks if no entries exist in query
            if response["businesses"] == []:
                break
            else:
                
                # Iterate through business results and extract data
                for biz in response["businesses"]:
                    
                    # Logic to replace missing price level data with NaN
                    if "price" not in biz:
                        restaurant_data.append([biz["name"], biz["coordinates"]["latitude"], 
                                                biz["coordinates"]["longitude"], biz["location"]["address1"], 
                                                biz["location"]["zip_code"], biz["rating"], 
                                                biz["review_count"], "", biz["categories"][0]["title"], 
                                                biz["id"]])
                    else:
                        restaurant_data.append([biz["name"], biz["coordinates"]["latitude"], 
                                                biz["coordinates"]["longitude"], biz["location"]["address1"], 
                                                biz["location"]["zip_code"], biz["rating"], 
                                                biz["review_count"], biz["price"], 
                                                biz["categories"][0]["title"], biz["id"]])
    
    
    # Write to csv
    with open('restaurant_data.csv', 'a') as csvFile:
        writer = csv.writer(csvFile)
        writer.writerows(restaurant_data)
    csvFile.close()

In [90]:
# Loop thru list of cities in cities_df and call get_restaurants fn
for city in cities_df["City"]:
    get_restaurants(city, api_key)

Processing query set 1 of approx 20 for Albany
Processing query set 2 of approx 20 for Albany
Processing query set 3 of approx 20 for Albany
Processing query set 4 of approx 20 for Albany
Processing query set 5 of approx 20 for Albany
Processing query set 6 of approx 20 for Albany

### Create Dataframe

- Read csv file
- Clean data

In [93]:
# Read csv file
restaurants_df = pd.read_csv("restaurant_data.csv", encoding = "ISO-8859-1", 
                            names=["Name", "Lat", "Lng", "Address", "Zip", "Rating", "# of Reviews", 
                                   "Price Level", "Category", "Yelp ID"])

# Replace NaN entries with blank string
restaurants_df = restaurants_df.fillna('')
restaurants_df

,Name,Lat,Lng,Address,Zip,Rating,# of Reviews,Price Level,Category,Yelp ID
0,Zaytoon Mediterranean Restaurant & Bar,37.890520,-122.297730,1133 Solano Ave,94706,4.5,319,$$,Mediterranean,g15dMYbefEL-ylCgk0MBbw
1,310 Eatery,37.892410,-122.299270,747 San Pablo Ave,94706,4.5,647,$$,Burgers,1ErPhzdCaoMVSHsXc9TOmQ
2,Juanita & Maude,37.890990,-122.298800,825 San Pablo Ave,94706,4.5,162,$$$$,American (New),jzmCjMb4nJscElnEgtY-Pw
3,Wojia Hunan Cuisine,37.889540,-122.298340,917 San Pablo Ave,94706,4.5,141,$$,Szechuan,shWuD8dJ5wbXppAzEybpgw
4,Bowl'd Korean Rice Bar,37.891116,-122.288295,1479 Solano Ave,94706,4.0,1087,$$,Korean,vD0mp-ZGHixwQrdzCcxuGw
5,El Mono,37.905186,-122.304549,10264 San Pablo Ave,94530,4.5,1307,$$,Peruvian,Uq3u_kbGVGLjEDVU45WLog
6,DaNang,37.890050,-122.298620,905 San Pablo Ave,94706,4.5,50,,Vietnamese,TyIzSjcr0z0jimwLeISMQg
7,Oori Rice Triangles,37.890733,-122.293740,1247 Solano Ave,94706,4.0,340,$,Japanese,UuC0xMHDZ3xKlbBKSvqSqQ
8,The Hot Shop,37.889980,-122.298590,909 San Pablo Ave,94706,4.5,330,$,Mexican,4llVHbcdMPfrZImiiF-D9w
9,Enoteca Mediterraneo,37.890930,-122.290530,1389 Solano Ave,94706,4.5,48,$$,Mediterranean,smSB17tWe_xDw9TFQ3mdug
10,Ramen Kitchen,37.891070,-122.287890,1491 Solano Ave,94706,4.0,123,$$,Ramen,p0Lb8jDvom4LsuqNzvAYVg
11,Everest Kitchen,37.890224,-122.297437,1150 Solano Ave,94706,4.5,182,$$,Himalayan/Nepalese,SmdE8aRd4fQjqZ5n1ISvaw
12,938 Crawfish,37.888900,-122.298860,938 San Pablo Ave,94706,4.0,474,$$,Seafood,u5-xaRYrBeeVa5VxMzOs2Q
13,Delhi Diner,37.890970,-122.290680,1373 Solano Ave,94706,4.5,668,$$,Indian,cMsCzq8NsRRl5Iei5HqUxg
14,Sam's Log Cabin,37.888764,-122.298332,945 San Pablo Ave,94706,4.0,599,$$,Breakfast & Brunch,sFR0Wn2GD9TmzJpKirHPfg
15,Royal Cafe,37.891296,-122.298904,811 San Pablo Ave,94706,4.0,468,$$,Breakfast & Brunch,1gDIY97sSN_48PQcR3EPeg
16,Aangan,37.890450,-122.299280,856 San Pablo Ave,94706,4.0,577,$$,Indian,IaLtMKJhPctTDN6AbQIZKg
17,Potala Vegan Restaurant,37.885030,-122.296900,1045 San Pablo Ave,94706,4.5,417,$$,Cafes,2vZ9g-llVHn9uei3pwzonA
18,Rendez-Vous Cafe Bistro,37.890480,-122.298350,1111 Solano Ave,94706,3.5,367,$$,French,xvRUWEND7CM2N1SMD7907w
19,Tacos El Autlense,37.895001,-122.300102,601 San Pablo Ave,94706,4.5,379,$,Mexican,pfj2X3oGYi4Mx81ZDMg7HA
20,New Dumpling,37.901800,-122.302720,10064 San Pablo Ave,94530,4.5,59,$$,Chinese,nzL-ngmLV_f63XID0ydkiA
21,La Crema,37.890120,-122.298400,1106 Solano Ave,94706,4.0,159,$$,Mexican,mV7Xr7mhoE0XfhCbW6VA3w
22,Albany Taproom,37.892444,-122.299353,745 San Pablo Ave,94706,4.0,196,$$,Burgers,L2mbYRwuI1x9oOiMRXHy8w
23,Pho Ao Sen,37.893718,-122.299723,665 San Pablo Ave,94706,3.5,315,$$,Vietnamese,Dq47xG_JD9wXS_4W8K5rcw
24,Suzette Crepe Cafe,37.890423,-122.294925,1226 Solano Ave,94706,4.5,208,$,French,8CUQ7mqoIjlWnZf6ycHmUQ
25,Vanessa's Bistro,37.891806,-122.282299,1715 Solano Ave,94707,4.0,446,$$,French,mfPNutKRhiaQXDrnz9_HRg
26,Syma's Mexican Grill,37.885941,-122.297301,1019 San Pablo Ave,94706,4.0,9,,Mexican,rwInTRTt4lBePXf89uKRMQ
27,Kim's Cafe & Sandwiches,37.890900,-122.292280,1309 Solano Ave,94706,4.0,266,$,Sandwiches,Sm1-F2_UuV2RTz7ImQ6YWA
28,Zomsa,37.910831,-122.307522,10558 San Pablo Ave,94530,5.0,22,$$,Himalayan/Nepalese,WeTsdr6tFEzlGyD2JX_06g
29,Little Star Pizza,37.890577,-122.296829,1181 Solano Ave,94706,4.0,821,$$,Pizza,cjPsTUw0ZGoFBF1-LkkR9w
...,...,...,...,...,...,...,...,...,...,...
197,Jack in the Box,37.907961,-122.306715,10409 San Pablo Ave,94530,2.5,38,$,Burgers,qgNkpOhz4Y9Fsd7WVjCO6A
198,Noodle Girl,37.748582,-122.418411,,94110,4.0,2,,Noodles,ZwMYagQH_8aXT8g9EAeUKw
199,Pizza Hut,37.883117,-122.306471,1057 Eastshore Hwy,94706,3.0,2,$,Pizza,2odOhz1097p64-2lhcoDrQ
200,Muangthai Restaurant,37.890050,-122.298620,905 San Pablo Ave,94706,3.5,4,,Thai,1V13WJDi2BWuTiKOhnOSwA
201,Subway,37.891234,-122.284073,1615 Solano Ave,94707,2.5,17,$,Sandwiches,shT9NXFPM9bIFejF2gaTGA
202,Taqueria Ezperanza By Martinez Catering,37.872840,-122.301539,845 Marina Bay Pkwy,94804,2.0,4,,Food Trucks,qox3PWZC0VpzGu1Fldy1EA
203,Zabu Zabu,37.871180,-122.271890,1919 Addison St,94704,3.5,826,$$,Japanese,bFXs1RxZTGImiN9Ic8ZOhg
204,Travelin Joe Espresso,37.855710,-122.289300,1016 Grayson St,94710,4.5,33,$$,Coffee & Tea,jW66693LVPlyDtzAoeb7KQ
205,Burger King,37.902360,-122.303920,6021 Central Ave,94530,2.0,54,$,Burgers,hcgRgLJvUlKNVj3pUod2QQ
206,Tacos El Rey,37.826177,-122.286833,3439 Helen St,94608,4.5,6,$,Food Trucks,uuouQQIFQ1B9mkmcxaAKFA
207,Roderick's Restaurant & Mobile Catering,37.751577,-122.153708,2708 98th Ave,94605,4.5,123,$,Food Trucks,84Irk5lNFXfWCvLmz2llLg
208,Cochinita Food Truck,37.774929,-122.419415,,,4.5,35,$,Food Trucks,XTJJ_PUQoJKIh31ZIzsFzw
209,Fiya Spice Caribbean,38.011279,-121.876098,,94565,5.0,1,,Food Trucks,RsgxKM4y5V_po23Iy3lTww
210,Phat Salads and Wraps,38.318649,-122.299942,,94558,4.0,48,$,Food Trucks,i6ZwMjYIbmFZ8EGYz6x5Bw
211,Tastes of Italy,37.879910,-122.310280,1100 Eastshore Hwy,94710,2.0,1,,Italian,byembfkSH1QpPmhb6aJtvw
212,Subway,37.907741,-122.305889,10398 San Pablo Ave,94530,2.5,24,$,Sandwiches,e2SLM8JEWsxC8mNoOrRtwQ
213,Keeku da Dhaba,37.553651,-121.978148,39300 Paseo Padre Pkwy,94538,4.5,72,,Indian,40DtuR_HxNuBVf_uSoy66Q
214,Costco Food Court,37.898440,-122.321830,4801 Central Ave,94804,2.5,42,$,Hot Dogs,NUWLc3_tbh2dtJzr1-sp2g
215,Sushi & Roll,37.898835,-122.307206,3288 Pierce St,94808,2.5,4,$$,Japanese,ibuRsa9Bp54ThwaNX2Rw3A
216,The Boneyard,37.793919,-122.400519,1225 San Mateo Ave,94066,3.5,86,$$,Food Trucks,S9MYGapWK7T7oKUEYLz6Iw
217,YummySticks,37.921329,-122.341423,,94804,3.5,3,,Food Trucks,ZlLnkOJzKQx_QbZf5p2_lw
218,Taco Coma,37.534530,-122.032840,,94560,5.0,3,,Food Stands,lgheXsHqe66AEZwoPDIEpw
219,El Cerrito Plaza Bart Food and Snack Bar,37.901761,-122.299360,6699 Fairmount Ave,94530,2.0,3,,American (New),cOSdEAxjvuhdpK-0utLMOQ
220,University Cafe,37.870970,-122.274930,1800 University Ave,94703,1.5,2,$$,Restaurants,_4TRrHMstphXcjNrXw6RKg
221,The Terrace Cafe,37.869881,-122.270538,Uc Berkeley Campus,,1.5,5,$,Coffee & Tea,sB-_IqnVtC5FRjQ5w3xoCw
222,Heavenly BBQ & Catering,37.869880,-122.270540,,,2.0,1,,Soul Food,Smz-zCZ7HM6IV__WJrMUbQ
223,FIRED Mobile Pizza Oven,38.052114,-121.348445,,95209,5.0,4,,Pizza,xomxVUXe8Sy5R2nt7qBxxg
224,Tacos La Palmita,38.021779,-121.326415,7931 Thornton Rd,95209,4.5,66,$,Tacos,sR0Wy3LYGdYV9HLszRlMmw
225,Che Buono,38.596713,-121.494174,,95811,4.5,28,$$,Food Trucks,kN2Q5z0kFXSyyVht1_jETA
226,GyroStop,38.662159,-121.336739,,95841,4.0,61,$$,Mediterranean,7ETh5878KSnGQnLxLE_yaQ

In [97]:
### TO DO: total counts of restaurant and add to city df.
### Clean data, how to treat missing address, zip, price level, food trucks/mobile, low review counts

restaurants_df["Category"].value_counts()

Pizza                        19
Mexican                      17
Food Trucks                  15
Burgers                      13
Thai                         12
Chinese                      12
Japanese                     11
Indian                        9
Breakfast & Brunch            7
Vietnamese                    7
Coffee & Tea                  6
Bakeries                      5
American (New)                5
Sushi Bars                    5
Himalayan/Nepalese            5
Fast Food                     5
Sandwiches                    4
Szechuan                      4
Mediterranean                 4
Italian                       3
Brazilian                     3
French                        3
Cafes                         3
Hot Dogs                      3
Seafood                       3
Korean                        3
American (Traditional)        3
Vegan                         3
Latin American                2
Delis                         2
Soul Food                     2
Desserts                      2
Ice Cream & Frozen Yogurt     2
Ramen                         2
Tacos                         1
Bagels                        1
Noodles                       1
Cantonese                     1
Tea Rooms                     1
Tex-Mex                       1
Restaurants                   1
Breweries                     1
Food Stands                   1
Barbeque                      1
Meat Shops                    1
Organic Stores                1
Hong Kong Style Cafe          1
Peruvian                      1
Poke                          1
British                       1
Middle Eastern                1
Greek                         1
Burmese                       1
Chicken Wings                 1
Themed Cafes                  1
Hot Pot                       1
Salad                         1
Name: Category, dtype: int64